body{
    background-color: rgba(0, 0, 0, 0.842);
}

.clock{
    margin: 10% 40% 0% 35%;
    /* height: 100px;
    width: 340px;
    background-color: rgb(229, 241, 241);
    border-radius: 10px;
    border: .6em solid wheat; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#one, #two, #three{
    margin-top: 10px;
    text-align: center;
    font-family: monospace;
    font-size: 6.7em;
    color: rgb(88, 160, 202);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, rgb(143, 236, 236),
                       rgb(99, 197, 236),
                       rgb(97, 77, 209),
                       rgb(153, 90, 189),
                       rgb(226, 101, 209));
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
}
